.header{
    max-width: 1100px;
    width: 100%;
    margin: auto;
    height: 100%;
    display: flex;
    justify-content: center;
    border-bottom: 1px solid black;

}

nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}
a{
    text-decoration: none;
    color: #1d2021;
}

.header-logo{
    max-width: 200px;
}

.header-list{
    list-style-type: none;
    display: flex;
    gap:16px;
}
.header-list li{
    font-size: 16px;
    color: #1d2021;
    font-weight: 700;
    cursor: pointer;
    padding: 6px;
}

.header-list li:hover{
    background-color: #a65e3f;
    color:#fff;
}

.header-list a:hover{
    background-color: #a65e3f;
    color:#fff;
}

@media screen and (min-width: 1100px) {
    ul{
        gap:20px;
    }
    li{
        font-size: 20px;
    }
}