.hero-section{
    display: grid;
    align-items: center;
    grid-template-columns: 55% 45%;
    padding-top: 40px;
 }

 .hero-img{
    max-width: 100%;
    max-height: 300px;
 }

 .hero-content{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 30px;
 }
 
 h1{
    color: #a65e3f;

}

.hero-content p{
    font-style: italic;
}
.hero-content button{
    text-decoration: none;
    background-color: white;
    padding: 10px 40px;
    background-color : #a65e3f;
    color: white;
    font-weight: 700;
}