.product-rating, .product-price{
    padding-top: 10px;
}

.product-card h4{
    padding-bottom: 6px;
}

.product-img{
    max-width: 100%;
    max-height: 200px;
}
.product-card{
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    padding: 0px 10px 10px 10px;
}

.view-details-button {
    background-color:rgb(240, 242, 242); 
    color: #a65e3f;
    border: none;
    padding: 10px 15px;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    font-weight: 600;
    
  }
  
  .view-details-button:hover {
    background-color: #a65e3f; 
    color:white;
  }

.price-rating-box{
    display: flex;
    align-items:center;
    justify-content: space-between;
    max-width: 250px;
    padding-bottom: 16px;
}
.filter-wrapper{
    padding-top: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}