.blog-card{
    max-width: 650px;
    margin-left: auto;
    margin-right: auto;
    gap:15px;
    padding-bottom: 40px;
}
.blog-card h2{
  
    padding-bottom: 10px;
}
.blog-card p{
   
    padding-bottom: 14px;
}

.tags-container{
    display: flex;
    max-width: 400px;
    gap: 10px;
}

.tag{
    background-color: gainsboro;
    border-radius: 8px;
    padding: 6px;
    cursor: pointer;
}
.reactions-box{
    padding-top: 20px;
    display: flex;
    align-items: center;
    gap: 8px;
}

.reaction{
    display: flex;
    gap:4px
}
.reaction-img{
    width: 20px;
    
}

