/* .project-description{
    padding-top: 80px;
    font-size: 30px;
    text-align: center;
    font-weight: 400;
    margin:auto;
}

.project-description a{
    font-weight: bold;
    color:#a65e3f;
} */