
.selects-container {
    display: flex; 
    justify-content: space-between; 
    align-items: center;
    margin: 20px 0; 
  }
  
  .selects-container select {
    padding: 10px; 
    border: 1px solid #ccc; 
    border-radius: 4px; 
    font-size: 16px; 
    background-color: #f9f9f9; 
    transition: border-color 0.3s; 
    margin-right: 10px; 
  }
  
  
  .selects-container select:focus {
    outline: none; 
    border-color: #0070f3; 
    box-shadow: 0 0 5px rgba(0, 112, 243, 0.5); 
  }
  
 
  .selects-container select:disabled {
    cursor: not-allowed;
    background-color: #eaeaea;
  }
  